h1 {
    font-size: 24px;
    font-family: 'Название вашего нестандартного шрифта', sans-serif;
}

h2 {
    font-size: 18px;
    font-family: 'Название вашего нестандартного шрифта', sans-serif;
}

p {
    font-size: 14px;
}
